body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#nav{
    height: 100px;
    background-color: #CC2787;
}
#nav> img{
    width: 200px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}
#nav>#menu a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    transition: .3s;
}
#nav>#menu a:hover{
    color: #352681;
}
#nav>#menu{
    width: 300px;
    position: absolute;
    right: 20px;
    top: 35px;
}
.active{
    color:#352681 !important;
}