@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#nav {
    height: 100px;
    background-color: #CC2787;
}

#nav > img {
    width: 200px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

#nav > #menu a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    transition: .3s;
}

#nav > #menu a:hover {
    color: #352681;
}

#nav > #menu {
    width: 450px;
    position: absolute;
    right: 20px;
    top: 35px;
}

.active {
    color: #352681 !important;
}

#tickets {
    width: 100vw;
    padding-left: 5vw;
    padding-top: 5vh;
}

#tickets > div {
    display: inline-block
}

.ticket {
    width: 500px;
    height: 250px;
    background-image: url(../img/voucherPrzyklad.jpg);
    background-size: contain;
    border: 2px solid #352681;
    margin-bottom: 30px;
}
#tick2{
    background-image: url(../img/voucher2.jpg);
}

.buyTicket button {
    width: 100px;
    height: 50px;
    color: #CC2787;
    background-color: white;
    border: 2px solid #CC2787;
    font-size: 30px;
    border-radius: 20px;
    transition: .3s ease-in-out;
    position: relative;
    top: -180px;
    left: 550px;
}

.buyTicket button:hover {
    color: white;
    background-color: #CC2787;
}
.basketOfTickets{
    color: #CC2787;
    font-size: 40px;
    position: fixed;
    right: 60px;
    bottom: 50px;
}
.basketOfTickets:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
  }
.alert-danger-alt { 
    padding: 1.2%;
    border-color: #B63E5A;
    background: #E26868;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}
.glyphicon { margin-right:10px; }
.hidden{
    opacity: 0;

}
.delTicket button {
    width: 100px;
    height: 50px;
    color: #CC2787;
    background-color: white;
    border: 2px solid #CC2787;
    font-size: 15px;
    border-radius: 20px;
    transition: .3s ease-in-out;


}
.delTicket button:hover {
    color: white;
    background-color: #CC2787;
}