#tradingSection {
    width: 100vw;
}

#tradingSection > div {
    display: inline-block;
}

.trade {
    width: 70vw;
    height: 400px;
    border-bottom: 2px solid #cc2787;
    float: left;
    box-sizing: border-box;
}

#tradeFinish {
    width: 30vw;
    height: 800px;
    border-left: 2px solid #cc2787;
    border-bottom: 2px solid #cc2787;
    box-sizing: border-box;
}
.user>img{
    width: 50px;
    position: relative;
    top: 15px;
    margin-right: 10px;
}
.user{
    padding-left: 20px;
    padding-top: 10px;
}
.user>span{
    color:#cc2787;
    font-size: 20px;
}
.fromToDate{
    padding-left: 20px;
    padding-top: 40px;
}
.fromToDate p{
    font-size: 24px;
    font-weight: bold;
    color: #352681;
}
.fromToDate p>span{
    color: #cc2787;
}
.fromToDate p:first-of-type{
    font-size: 30px;
}